// colors
$main: #23226B
$secundary: #000000
$main-gradient: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(35,34,107,0.75) 25%, rgba(35,34,107,1) 50%, rgba(35,34,107,0.75) 75%, rgba(255,255,255,0) 100%)
$red-gradient: linear-gradient(90deg, rgba(255,0,0,0) 0%, rgba(255,0,0,0.75) 25%, rgba(255,0,0,0.75) 75%, rgba(255,0,0,0) 100%)

// spacing
$max-width: 1204px
$normal-section-height: 500px
$small-section-height: 300px
$header-height: 60px

// placeholders
%margin15
  margin: 15px

%markerRed
  background: rgb(255,0,0)
  background: $red-gradient
  background-size: 100% 35%
  background-position: top
  background-repeat: no-repeat